:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --dark-blue: hsl(249, 10%, 26%);
  --gray-blue: hsl(246, 25%, 77%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./images/bg-intro-mobile.png');
  background-color: var(--red);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

main {
  max-width: 90%;
}

.main-header {
  text-align: center;
  margin: 4rem;
}

h1 {
  margin-bottom: 2rem;
}

.main-header p {
  line-height: 1.7;
}

.purple-section {
  background-color: var(--blue);
  text-align: center;
  padding: 1rem 0;
  border-radius: 10px;
  box-shadow: 0 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

span {
  font-weight: 600;
}

.form-section {
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 7px rgba(0, 0, 0, 0.2);
  margin-bottom: 4rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: none;
  padding: 1rem;
}

label {
  position: relative;
}

.form-control small {
  color: red;
  position: absolute;
  bottom: -40px;
  right: 10px;
}

svg {
  position: absolute;
  top: 0;
  right: 20px;
}

.form-control {
  width: 100%;
  margin-bottom: 2rem;
}

input {
  width: 100%;
  border: 1px solid var(--gray-blue);
  padding: 1rem;
  border-radius: 5px;
  font-size: 1.2em;
}

.form-control:nth-child(1) {
  margin-top: 1rem;
}

.btn {
  width: 100%;
  background-color: var(--green);
  border: none;
  color: #fff;
  padding: 1rem 0;
  font-size: 1.2em;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0 5px hsla(154, 65%, 32%, 0.6);
  cursor: pointer;
}

.small-text {
  width: 75%;
  margin: 1rem auto;
  text-align: center;
}

small {
  color: var(--gray-blue);
}

small span {
  color: var(--red);
}

@media (min-width: 900px) {
  main {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
  }

  .main-header {
    width: 50%;
    max-width: 500px;
    justify-self: flex-start;
    margin-right: 5rem;
  }

  h1 {
    font-size: 3em;
  }
}
